{% load static %}
<html>
	<head>
		<title>Confirm your email</title>
		<style>
			body {
				background-color: white;
				margin: 0;
				padding: 0;
				font-family: Arial, Helvetica, sans-serif;
			}

			header {
				display: flex;
				justify-content: center;
			}

			img {
				height: 40px;
				width: 250px;
			}

			p {
				color: rgb(87, 87, 87);
			}

			button {
				background-color: #2e3edf;
				padding: 12px 24px;
				font-weight: 700;
				font-size: 18px;
				border: none;
				border-radius: 48px;
				color: white;
				cursor: pointer;
			}
		</style>
	</head>
	<body>
		<main>
			<p>
				Hello, <br><br>
				We recently received a request to reset your password. If you made this request, please click on the following link to reset your password.
			</p>
			<a href="{{ reset_link }}"><button>Reset password</button></a>
			<p>
				Please note that for security reasons, this link is only valid for 24 hours.<br><br>
				If you did not request a password reset, please ignore this email.<br><br>
				Best regards,<br><br>
				Your Videoflix team!
			</p>
			<footer>
				<img src="https://daniel-lehmann.dev/assets/logo.png" alt="videoflix-logo" />
			</footer>
		</main>
	</body>
</html>
